<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Scroll Funny
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css")
        link(rel="stylesheet", href="style.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css")        
    body
        .scroll-horizontal-container
            .screen.pink.darken-3
                h2.animated(data-funny="fadeInLeft" data-funny-offset="50") Screen 1
            .screen.amber.darken-2
                h2.animated(data-funny="fadeInUpBig" data-funny-once="false" data-funny-offset="100" data-funny-hidde="true") Screen 2
            .screen.light-blue.darken-3
                h2.animated(data-funny="bounceInRight") Screen 3
            .screen.red.darken-3
                h2.animated Screen 4

        script(src="js/ScrollFunny.js")
        script(src="js/scripts.js")
