<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Scroll Animate Example
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css")
        link(rel="stylesheet", href="style.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css")        
    body
        .container
            .initial.amber.darken-4.animated
            .block.amber.darken-3.animated
            .block.amber.darken-2.animated
            .block.amber.darken-1.animated
        script(src="js/scrollAnimate.js")
        script(src="js/scripts.js")